.form-wrapper {
    display: flex; 
    flex-direction: column-reverse;
    background-color: #000048;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;

}

.form-wrapper form {
    display: flex;
    flex-direction: column;
}