@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap');
html {
  font-family: 'M PLUS Rounded 1c',sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


footer {
  background: #000048;
  color: #fff;
  min-height: 150px;
}
.heading{
  font-size: 2rem;
}
.ebook {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000048;
  color: #fff;
}
.ebook h2 {
  border-bottom: #F7C92D solid 1px;
}
.ebook span{
  color: #F7C92D;
}
.ebook button {
  max-width: 30%;
  background-color: #F7C92D;
  color: #fff;
  font-weight: 800;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;;
}
.work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



